.headerWrapper {
  display: flex;
  justify-content: space-between;
  height: 56px;
  margin: 0 3px 0 3px;
  border-bottom: 1px solid #f0f0f0;
}

.logo {
  position: relative;
  min-width: 200px;
}

.logoImg {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 35px;
  width: 70px;
}

.nav {
  display: flex;
  flex-grow: 1;
  width: 960px;
}

.navLeft {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-start;
}

.navRight {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
}

.navAddition {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-width: 200px;
}

.navItem {
  padding: 0 20px;
  font-size: 17px;
}

.navItem.active {
  color: #ea5f5a;
}

.navItem.flat {
  color: #969696;
}

.navSearch {
  width: 120px;
  margin: 0 20px;
  padding: 0 20px;
  height: 38px;
  outline: none;
  border: none;
  border-radius: 19px;
  background: #eee;
}

.navSearch::placeholder {
  color: #999;
  font-size: 14px;
}

.navSearchWrapper {
  position: relative;
}

.searchIcon {
  position: absolute;
  width: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 15px;
  right: 24px;
  top: 4px;
}

.btn {
  height: 38px;
  line-height: 38px;
  text-align: center;
  border: 1px solid #ec6149;
  border-radius: 19px;
  padding: 0 20px;
  margin-right: 20px;
  font-size: 14px;
}

.btn.reg {
  color: #ec6149;
}

.btn.writting {
  background: #ec6149;
  color: #fff;
}

.aaIcon {
  font-size: 17px !important;
  color: #969696;
}
